/*
 * reset styles
 */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Add accessible line-height & 4. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Create a root stacking context */
:root {
  isolation: isolate;
}

/*
 * main styles
 */

/* fonts */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400 600;
  src:
    local('Roboto Mono'),
    url('/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400 600;
  src: url('/fonts/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
}

/* colour theme */
:root {
  /*
  https://caniuse.com/?search=light-dark()
  color-scheme: light dark;
  --primary: #646cff;
  --background: light-dark(#fcfcfd, #0d0f1c);
  --foreground: light-dark(#0d0f1c, #fcfcfd);
  */

  --primary: #646cff;
  --background: #0d0f1c;
  --foreground: #fcfcfd;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #646cff;
    --background: #0d0f1c;
    --foreground: #fcfcfd;
  }
} */

/* defaults */
:root {
  font-family:
    Roboto Mono,
    monospace;
  line-height: 1.5;
  font-weight: 400;

  color: var(--foreground);
  background-color: var(--background);
}

/* utility styles */
.debug {
  border: 1px solid hotpink;
}

.debug2 {
  border: 1px solid cyan;
}

.max-width-wrapper {
  width: 100%;
  max-width: 80ch;
  margin: 0 auto;
}

/* layout */
html,
body {
  height: 100%;
}

p {
  margin-bottom: 1.2rem;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.header,
.footer {
  height: 3.75rem;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}

@media (min-width: 600px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
  }
}

.header,
.main,
.footer {
  padding-left: 20px;
  padding-right: 20px;
}

.main {
  padding-top: 2rem;
}

/* components */
.header {
  font-weight: 600;
}

.link {
  display: inline-block;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  color: inherit;
  box-shadow: 0px 3px 0px var(--primary);
  transition: box-shadow 300ms ease 0s;
  transition-delay: 250ms;
  will-change: transform;
  -webkit-box-decoration-break: clone;

  &:hover {
    box-shadow: transparent 0px 0px 0px;
    transition-delay: 0ms;
  }

  &:hover .revealed {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: clip-path 300ms;
  }
}

.revealed {
  color: var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 0px 4px var(--background));
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: clip-path 1000ms;
}
